{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
Selected_status:    {{ filter.form.status.value }}
<div class="container wrapper flex-grow-1">
    <form method="get">
        <div class="form-row">
            <div class="form-group col-md-4">
                Status: 
                <select class="custom-select" id="status", name="status">
                    {% for value, label in filter.form.status.field.choices %}
                        <option value="{{value}}"
                        {% if filter.form.status.value == value%}
                        selected
                        {% endif %}>{{label}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
            <input type="submit" />
    </form>
</div>
    {% for obj in filter.qs %}
        {{ obj.name }} - ${{ obj.labels }}<br />
    {% endfor %}

    STATUS:<br>
    {% for x, y in filter.form.status.field.choices %}
     {{ x }} | {{ y }}<br>
    {% endfor %}
{% endblock %}